<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments/header :: header">
		<meta charset="UTF-8"/>
		<title>Title</title>
	</head>
	<body>
		<nav th:replace="fragments/navbar :: navbar"></nav>
		<div class="grid-container">
			<div class="grid-x">
				<div class="cell small-8 small-offset-2">
					<h1 class="text-center">Create a new Post</h1>

					<form th:action="@{/posts/create}" th:method="post" th:object="${post}">
						<label for="title">Title</label>
						<input id="title" th:field="*{title}" type="text"/>
						<p class="help-text" th:errors="*{title}" th:if="${#fields.hasErrors('title')}"></p>

						<label for="body">Body</label>
						<textarea id="body" style="height: 200px" th:field="*{body}"></textarea>
						<p class="help-text" th:errors="*{body}" th:if="${#fields.hasErrors('body')}"></p>

						<fieldset class="fieldset">
							<legend>Categories</legend>
							<div class="grid-x">
								<label class="cell auto" for="checkbox1">Lifestyle
									<input id="checkbox1" th:field="*{categories}" type="checkbox" value="Lifestyle"/>
								</label>
								<label class="cell auto" for="checkbox2">Music
									<input id="checkbox2" th:field="*{categories}" type="checkbox" value="Music"/>
								</label>
								<label class="cell auto" for="checkbox3">Food
									<input id="checkbox3" th:field="*{categories}" type="checkbox" value="Food"/>
								</label>
								<label class="cell auto" for="checkbox4">Pets
									<input id="checkbox4" th:field="*{categories}" type="checkbox" value="Pets"/>
								</label>
								<label class="cell auto" for="checkbox5">Movies
									<input id="checkbox5" th:field="*{categories}" type="checkbox" value="Movies"/>
								</label>
							</div>
						</fieldset>

						<button class="button">Submit</button>
					</form>
				</div>
			</div>
		</div>
		<footer th:replace="fragments/footer :: footer"></footer>
	</body>
</html>