<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments/header :: header">

		<meta charset="UTF-8">
		<title>Title</title>
		<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.css" rel="stylesheet">
	</head>
	<body>
		<nav th:replace="fragments/navbar :: navbar"></nav>
		<div class="row">
			<div class="medium-9 medium-centered columns">
				<h1 th:text="${post.title}">Post</h1>
				<h3>By:
					<span th:text="${post.getOwner().getEmail()}"></span>
				</h3>
				<h5 th:text="${post.body}">Post</h5>
			</div>
		</div>
		<footer th:replace="fragments/footer :: footer"></footer>
	</body>
</html>