<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments/header :: header">
		<meta charset="UTF-8"/>
		<title>Title</title>
	</head>
	<body>
		<nav th:replace="fragments/navbar :: navbar"></nav>
		<div class="grid-container">
			<div class="grid-x">
				<div class="cell small-8 small-offset-2">
					<div class="media-object">
						<div class="media-object-section">
							<h1 class="text-center" th:text="${post.title}">Post</h1>
							<h3>By:
								<span th:text="${post.getOwner().getEmail()}"></span>
							</h3>
							<h5 th:text="${post.body}">Post</h5>
							<span th:each="category : ${post.categories}">
								<span class="label" th:text=" ${category.getName()} "></span>
							</span>
						</div>
					</div>
					<a class="button float-right" th:href="'../posts/' + ${post.id} + '/edit'">Edit</a>
				</div>
			</div>
		</div>
		<footer th:replace="fragments/footer :: footer"></footer>
	</body>
</html>