<!DOCTYPE html>
<html lang="" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8"/>
		<title>Title</title>
	</head>
	<body>
		<div class="top-bar" th:fragment="navbar">
			<div class="top-bar-left">
				<ul class="dropdown menu">
					<li class="menu-text">Spring Blog</li>
					<li><a href="/posts">Posts</a></li>
					<li><a href="/posts/create">Create a post</a></li>
				</ul>
			</div>
			<div class="top-bar-right">
				<ul class="dropdown menu">
					<li sec:authorize="isAnonymous()">
						<a href="/sign-up">Sign Up</a>
					</li>
					<li sec:authorize="isAnonymous()">
						<a href="/login">Login</a>
					</li>
					<li sec:authorize="isAuthenticated()">
						<form th:action="@{/logout}" th:method="post">
							<button class="button">Logout</button>
						</form>
					</li>
				</ul>
			</div>
		</div>
	</body>
</html>