<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments/header :: header">
		<meta charset="UTF-8"/>
		<title>Sign up</title>
	</head>
	<body>
		<nav th:replace="fragments/navbar :: navbar"></nav>
		<div class="grid-container">
			<!--			<h1>Create an account</h1>-->
			<form th:action="@{/sign-up}" th:method="post" th:object="${user}">
				<label for="username">Username</label>
				<input id="username" th:field="*{username}" type="text"/>

				<label for="email">Email</label>
				<input id="email" th:field="*{email}" type="text"/>

				<label for="password">Password</label>
				<input id="password" th:field="*{password}" type="password"/>

				<button class="button">Sign me up!</button>
			</form>
		</div>
		<footer th:replace="fragments/footer :: footer"></footer>
	</body>
</html>